MDomain {{ django_sites[item].hostnames[0] }} auto

<VirtualHost *:80>
    ServerName {{ django_sites[item].hostnames[0] }}
    {% for hostname in django_sites[item].hostnames[1:] %}
        ServerAlias {{ hostname }}
    {%- endfor %}
    ServerAdmin {{ django_sites[item].admin }}
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ django_sites[item].hostnames[0] }}
    {% for hostname in django_sites[item].hostnames[1:] %}
        ServerAlias {{ hostname }}
    {%- endfor %}
    ServerAdmin {{ django_sites[item].admin }}

    Protocols h2 http:/1.1

    SSLEngine on
</VirtualHost>
