version: "2.3"

services:
  db:
    image: mdillon/postgis:10
    restart: always
    ports:
    - "::1:5432:5432"
    - "127.0.0.1:5432:5432"
    user: "{{ ansible_user_uid }}"
    volumes:
    - /etc/passwd:/etc/passwd:ro
    - /etc/group:/etc/group:ro
    - pgsql:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: {{ postgresql.password }}
      PGDATA: /var/lib/postgresql/data/pgdata

  memcached:
    image: memcached:alpine
    restart: always

  trillian:
    image: nat64check/trillian
    restart: always
    depends_on:
    - memcached
    - db
    - marvin_v4only
    - marvin_v6only
    - marvin_nat64
    ports:
    - "::1:8000:8000"
    - "127.0.0.1:8000:8000"
    user: "{{ ansible_user_uid }}"
    volumes:
    - /etc/passwd:/etc/passwd:ro
    - /etc/group:/etc/group:ro
    - /var/www/static:/app/static
    - /home/nat64check/trillian/metrics:/app/metrics
    - /home/nat64check/trillian/spool:/app/spool

    environment:
      DJANGO_SECRET_KEY: {{ trillian.django.secret_key }}
      DJANGO_DEBUG: {{ '1' if trillian.django.debug else '0' }}
      PGHOST: db
      PGUSER: trillian
      PGPASSWORD: {{ postgresql.password }}

  marvin_v4only:
    image: nat64check/marvin
    restart: always
    scale: {{ marvin.v4only.scale | default(marvin.scale | default(1)) }}
    dns:
{% for dns in marvin.v4only.dns %}
    - {{ dns }}
{% endfor %}
    environment:
    - MARVIN_MODE=v4only
    - MARVIN_DNS={{ marvin.v4only.dns|join(',') }}
    cap_add:
    - NET_ADMIN
    networks:
      default:
        aliases:
        - marvin

  marvin_v6only:
    image: nat64check/marvin
    restart: always
    scale: {{ marvin.v6only.scale | default(marvin.scale | default(1)) }}
    dns:
{% for dns in marvin.v6only.dns %}
    - {{ dns }}
{% endfor %}
    environment:
    - MARVIN_MODE=v6only
    - MARVIN_DNS={{ marvin.v6only.dns|join(',') }}
    cap_add:
    - NET_ADMIN
    networks:
      default:
        aliases:
        - marvin

  marvin_nat64:
    image: nat64check/marvin
    restart: always
    scale: {{ marvin.nat64.scale | default(marvin.scale | default(1)) }}
    dns:
{% for dns in marvin.nat64.dns %}
    - {{ dns }}
{% endfor %}
    environment:
    - MARVIN_MODE=nat64
    - MARVIN_DNS={{ marvin.nat64.dns|join(',') }}
    cap_add:
    - NET_ADMIN
    networks:
      default:
        aliases:
        - marvin

volumes:
  pgsql:

networks:
  default:
    driver: bridge
    driver_opts:
      "com.docker.network.bridge.name": nat64check
    enable_ipv6: true
    ipam:
      config:
      - subnet: {{ docker_network.ipv6_prefix }}
        gateway: {{ docker_network.ipv6_prefix | ipaddr(1) | ipaddr('address') }}
